<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Discover Nala's new role as a Senior Java Software Engineer in Peepville.">
    <title>Nala's New Job | Peep Peas #1 Star</title>

    <!-- favicons -->
    <link rel="apple-touch-icon" sizes="180x180" href="/images/favicons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/images/favicons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicons/favicon-16x16.png">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">

    <!-- stylesheets -->
    <link rel="stylesheet" href="/css/plugins.css">
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/crew.css">
</head>

<body>

    <div id="skip">
        <a href="#main">Skip to main content</a>
    </div>

    <div th:replace="~{fragments.html :: header}" />

    <main id="main">
        <section class="profile-wrapper">
            <img src="/images/characters/details/pfp/nala.jpg" alt="Nala - Senior Java Software Engineer" class="character-image">
            <div class="character-info">
                <h1>New Job as a Senior Java Software Engineer</h1>
                <p>Nala is a computational genius who performs calculations for various Peepville businesses and organizations. In her spare time, Nala has been noodling on the creation of the perfect web browser that will make all other browsers obsolete. We're rooting for you, Nala!</p>
            </div>
        </section>
    </main>

    <div th:replace="~{fragments.html :: footer}" />

    <script src="../js/plugins.js"></script>
    <script src="../js/main.js"></script>

</body>

</html>
