<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>About PeepPea | Drew Erskine's Portfolio</title>

	<!-- favicons -->
	<link rel="icon" sizes="57x57" href="/images/favicons/catFavicon.png">
	<meta name="msapplication-TileColor" content="#d4d4d8">
	<meta name="theme-color" content="#f4f1ec">

	<!-- stylesheets -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,500;1,700&display=swap">
	<link rel="stylesheet" href="css/plugins.css">
	<link rel="stylesheet" href="css/common.css?ver=2209301853">
</head>
<body>

	<div th:replace="~{fragments.html :: header}"/>

	<main id="main">
		<div id="wrapper-about">
			<section id="about">
				<img src="images/logo-big-star-H-purple.svg" width="298" alt="Logo of Big Star Collectibles">
				<h1>About PeepPea - Drew Erskine's Assistant</h1>
				<p>Welcome to the whimsical world of PeepPea, Drew's loyal cat and silent partner in the journey of technology and development. While Drew taps away at the keyboard, creating modular systems and intricate codes using Spring Boot 3, Java 21, React, and more, I, PeepPea, oversee the operations from comfy couches and sunny window sills.</p>
				<p>Nala, the supposed spy with too much energy, often tries to distract me with her antics, believing she's on some covert mission. Meanwhile, Cooper, the adventurous canine of the household, occasionally causes mayhem, like that time he made Drew trip and fall. But worry not, Drew always bounces back, ready to tackle the next challenge.</p>
				<p>From the deep ends of PostgreSQL databases to the heights of AWS cloud deployments, my days are filled with fascinating observations of Drew's coding adventures. Whether it's the dumb 'click clacks' on the keyboard or the intense focus sessions before a screen, every day here is a learning experience.</p>
				<p>So, let me guide you through our daily escapades and give you a paw's view of what it's like to live and breathe code. And remember, any opposition to my reign over the household might lead you to a fate far worse than the mythical shadow realm!</p>
				<section>
					<h2>PeepPea's Observations</h2>
					<ul>
						<li>The complex systems Drew develops are as intricate as my plans to catch that elusive red laser dot.</li>
						<li>React might be all about components, but in this house, I'm the central component!</li>
						<li>Every deployment is a chance for treats – if only Drew could understand my hints.</li>
					</ul>
				</section>
				<section>
					<h2>Get In Touch</h2>
					<p>Interested in learning more about our projects or in need of a developer who understands the fine art of coding and cat management? Contact Drew today:</p>
					<ul>
						<li>Email: <a href="mailto:D.Murphy.Erskine@gmail.com">D.Murphy.Erskine@gmail.com</a></li>
						<li>Resume: <a href="\PeepPeaStar\star-collection\src\main\resources\static\resume-drewerskine\Resume.DrewErskine.pdf" target="_blank">Download Resume</a></li>
						<li>GitHub: <a href="https://github.com/DrewErskine" target="_blank">DrewErskine</a></li>
						<li>LinkedIn: <a href="https://www.linkedin.com/in/drew-erskine/" target="_blank">LinkedIn</a></li>
						<li>Online Resume: <a href="https://drewerskine.github.io/DrewErskine-Resume/" target="_blank">Drew Erskine's Resume</a></li>
					</ul>
				</section>
				<section>
					<h2>© Peep Pea, LLC</h2>
					<p>Founded in the imaginative and ever-creative corners of Drew's mind, © Peep Pea, LLC operates out of Grand Rapids, Michigan. This "organization" prides itself on innovative solutions in cat welfare and technological advancements, all while managing a high-energy spy named Nala and a dog inventor, Cooper.</p>
				</section>
			</section>
		</div>
	</main>

	<div th:replace="~{fragments.html :: footer}"></div>

	<script src="js/plugins.js"></script>
	<script src="js/main.js"></script>
</body>
</html>