<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Peepville Crew | Peep Peas #1 Star</title>
    <link rel="icon" th:href="@{/images/favicons/catFavicon.png}" sizes="57x57">
    <meta name="msapplication-TileColor" content="#d4d4d8">
    <meta name="theme-color" content="#f4f1ec">
    <!-- Stylesheets -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,500;1,700&family=Roboto:wght@700&display=swap">
    <link rel="stylesheet" th:href="@{/css/plugins.css}">
    <link rel="stylesheet" th:href="@{/css/common.css}">
    <link rel="stylesheet" th:href="@{/css/about.css}">
    <link rel="stylesheet" th:href="@{/css/crew.css}">
    <style>
        * { margin: 0; padding: 0; box-sizing: border-box; }
        .container { width: 100% !important; max-width: 100% !important; }
    </style>
</head>
<body>
    <!-- Header -->
    <div th:replace="~{fragments.html :: header}" />
    <!-- Main Content -->
    <main id="main">
        <article id="wrapper-about" style="padding-top: 2.3em;">
            <section id="about" class="container">
                <div class="hero-container text-center">
                    <div class="wide-image">
                        <img th:src="@{/images/MissHer.png}" alt="Welcome to Peepville" class="peeppea-the-hero-image img-fluid">
                    </div>
                    <h1 class="mt-3">Welcome to Peepville</h1>
                </div>
                <div class="character-profiles row mt-5">
                    <div class="character-profile col-md-4 text-center">
                        <img th:src="@{/images/characters/peepville/peep-16..9.jpg}" alt="Peep" class="character-image img-fluid rounded-circle mb-3">
                        <h3 class="disc-highlight">PeepPea</h3>
                        <p><strong class="highlight">Queen of Peepville</strong> - PeepPea, the cherished sovereign of Peepville, is revered for her wisdom and benevolence. Her leadership has ushered in an era of peace and prosperity across the land.</p>
                    </div>
                    <div class="character-profile col-md-4 text-center">
                        <img th:src="@{/images/characters/peepville/nala-16..9.jpg}" alt="Nala" class="character-image img-fluid rounded-circle mb-3">
                        <h3 class="disc-highlight">Nala</h3>
                        <p><strong class="highlight">Forensic Accountant</strong> - Nala, a computational genius, leverages her intellect to aid Peepville's businesses. She is currently developing a revolutionary web browser aimed at redefining internet navigation.</p>
                    </div>
                    <div class="character-profile col-md-4 text-center">
                        <img th:src="@{/images/characters/peepville/cooper-16..9.jpg}" alt="Cooper" class="character-image img-fluid rounded-circle mb-3">
                        <h3 class="disc-highlight">Cooper</h3>
                        <p><strong class="highlight">Innovative Engineer</strong> - Cooper's ingenuity has led to numerous advancements in Peepville, especially in sustainable living and technology. His efforts have significantly enhanced the quality of life for all its residents.</p>
                    </div>
                </div>
            </section>
        </article>
    </main>
    <!-- Footer -->
    <div th:replace="~{fragments.html :: footer}" />
    <!-- Scripts -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script th:src="@{/js/plugins.js}"></script>
    <script th:src="@{/js/main.js}"></script>
    <script th:src="@{/js/crew.js}"></script>
</body>
</html>