/* General Blog Styles */
body {
    font-family: 'Ubuntu', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
}

main.blog-detail-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    max-width: 1200px;
}

header.blog-detail-header {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}

header h1 {
    color: #333;
    font-size: 24px;
}

.blog-detail-content {
    display: flex;
    width: 100%;
}

.blog-image {
    flex: 1;
    max-width: 40%; /* Adjusted for better proportion */
    padding: 20px;
}

.blog-image img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.blog-text {
    flex: 2;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.blog-metadata {
    font-size: 16px;
    color: #666;
    margin-bottom: 20px;
}

.blog-metadata span {
    display: block;
    margin-top: 5px;
}

p {
    margin-top: 20px;
}

/* Comment Section Styles */
section.post-comment,
section.comments {
    padding: 20px;
    margin: 20px auto;
    max-width: 1200px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.post-comment h2,
.comments h2 {
    color: #333;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
}

.comments form {
    margin-top: 20px;
}

.comments textarea {
    width: 100%;
    height: 100px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.comments button {
    background-color: #0056b3;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}

#search-widget {
    display: flex;
    align-items: center;
    margin-top: 1rem;
}

#search-input {
    padding: 0.5rem;
    margin-right: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#search-widget button {
    padding: 0.5rem 1rem;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#search-widget button:hover {
    background-color: #0056b3;
}


/* Responsive Adjustments */
@media (max-width: 768px) {
    .blog-detail-content {
        flex-direction: column;
    }

    .blog-image, .blog-text {
        width: 100%;
    }

    header h1 {
        font-size: 20px;
    }

    .comments, .post-comment {
        width: 95%;
    }
}