/*-----------------------------------------------------
    Blog Section
-------------------------------------------------------*/

/* Blog List Container */
#blogs {
    display: grid;
    grid-template-areas:
        "blog-list";
    margin-top: 21px;
    padding-top: 40px;
    border-top: 1px solid var(--color-border);
}

/* Blog List Pagination */
#blogs>nav {
    --color-link-static: var(--color-dark);
    --color-link-hover: var(--color-dark);
    --color-link-background-hover: var(--color-whitesmoke);
    --text-deco-line: none;
    grid-area: Pagination;
    margin: 38px 0 -25px;
    padding-top: 40px;
    border-top: 1px solid var(--color-border);
}

#blogs>nav>ul {
    display: flex;
    justify-content: center;
    cursor: default;
}

#blogs>nav li {
    display: flex;
    justify-content: center;
}

#blogs>nav li+li {
    margin-left: -1px;
}

#blogs>nav li>a,
#blogs>nav li>span {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 12px;
    padding: 0 10px;
    min-width: 44px;
    min-height: 44px;
    font-size: 2rem;
    border: 1px solid var(--color-border);
}

/* Disabled Pagination Links */
#blogs>nav li[aria-hidden="true"]>a {
    --color-link-static: var(--color-inactive);
    --color-link-hover: var(--color-inactive);
    --color-link-background-hover: transparent;
    cursor: default;
}

#blogs>nav li>a[aria-current="page"] {
    position: relative;
    font-weight: 700;
    border-color: currentColor;
}

/* Pagination Navigation (Previous and Next) */
#blogs>nav li>a:is(.prev, .next) {
    padding: 0 15px;
    font-size: 1.6rem;
}

#blogs>nav li:first-child>a {
    border-radius: 6px 0 0 6px;
}

#blogs>nav li:last-child>a {
    border-radius: 0 6px 6px 0;
}

/* SVG Styles for Pagination */
#blogs>nav a>svg {
    margin-top: 1px;
    fill: var(--color-dark);
}

#blogs>nav [aria-hidden="true"]>a>svg {
    fill: var(--color-inactive);
}

/* Blog List */
#blogs .blog-list {
    grid-area: blog-list;
}

/* Filter Button (Mobile) */
#blogs header .radio-menu-widget+button {
    display: none;
}