/* User Details Section Styles */
#user-details {
    background-color: var(--color-coldmorning);
    padding: 20px;
    border-radius: 5px;
    border-bottom: 4px solid var(--color-chinesebellflower);
    box-shadow: 0 4px 6px var(--color-aquasea);
    margin: 20px 0;
    transition: transform 0.3s ease-in-out;
}

#user-details:hover {
    box-shadow: 0 6px 8px var(--color-chinesebellflower);
}

#user-details .details-list {
    display: grid;
    padding: 15px;
    font-size: 1.6rem;
}

#user-details .details-list dt {
    color: var(--color-chinesebellflower);
    font-weight: 700;
}

#user-details .details-list dd {
    color: var(--color-calicodress);
    font-weight: 400;
}

#user-details .details-list dt, 
#user-details .details-list dd {
    padding: 5px 0;
}

/* Responsive adjustments for smaller screens */
@media (max-width: 768px) {
    #user-details .details-list {
        grid-template-columns: 1fr;
    }
}

/* Applies to both navigation and details section styled as category */
[aria-label="Category"] {
    background-color: var(--color-coldmorning);
    border-bottom: 2px solid var(--color-peeppeaplue);
    padding: 10px 20px;
}

[aria-label="Category"] a, 
[aria-label="Category"] dd {
    color: var(--color-calicodress);
    display: block;
    padding: 10px;
}

[aria-label="Category"] a:hover, 
[aria-label="Category"] dd:hover {
    color: var(--color-dark);
}

/* Submit Button Styles */
.submitButton {
    background-color: var(--color-peeppeaplue);
    border: 2px solid var(--color-tidalwave);
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px; /* Rounded corners */
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.submitButton:hover {
    background-color: var(--color-aquasea);
    transform: translateY(-2px); /* Slight lift effect on hover */
}

.submitButton:active {
    background-color: var(--color-seacaller);
    transform: translateY(0); /* Reset lift effect on click */
}

.submitButton.lg {
    padding: 14px 28px;
    font-size: 18px;
}

.submitButton.solid {
    border: 2px solid var(--color-tidalwave);
}

.submitButton.peeppeaplue {
    background-color: var(--color-peeppeaplue);
    border-color: var(--color-tidalwave);
}